<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if title %}
        {{ title }} &mdash;
      {% endif %}
      Jonas Berge
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/fonts.css">
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="/static/styles/about.css">
  </head>
  <body>
    <div id="app">
      <div class="app-content">
        <nav id="navigation" class="is-compact2">
          <div class="navigation-content">
            <ul class="menu left">
              <li class="{{ 'selected' if menu_item == 'index' }}">
                <a href="/" draggable="false">Portfolio</a>
              </li>
              <li class="{{ 'selected' if menu_item == 'digital' }}">
                <a href="/digital" draggable="false">Digital</a>
              </li>
              <li class="{{ 'selected' if menu_item == 'film' }}">
                <a href="/film" draggable="false">Film</a>
              </li>
            </ul>
            <ul class="menu center">
              <li>
                <a href="" class="button action-left invisible">
                  <i class="arrow-left"></i>
                </a>
              </li><li id="live-title">
                <a href="" class="button action-center">
                  <span class="live-title-content"></span>
                </a>
              </li><li>
                <a href="" class="button action-right invisible">
                  <i class="arrow-right"></i>
                </a>
              </li>
            </ul>
            <ul class="menu right">
              <li><a href="/about" draggable="false">About</a></li>
            </ul>
          </div>
        </nav>
        <main id="main">
          <div id="gallery">
            <div id="about">
              {% include "components/about.jinja" %}
            </div>
          </div>
        </main>
        <div id="viewer">
          <div class="viewer-content">

          </div>
        </div>
        <div id="viewer-hint">
          <span class="hint-text">scroll or use the arrow keys to navigate</span>
          <!--&mdash;
          <a class="button hover-underlines">dismiss</a>-->
        </div>
      </div>
    </div>
    <script>document.querySelector('#app').classList.remove('nojs');</script>
  </body>
</html>
