@font-face {
  font-family: 'EB Garamond';
  src: url('/static/fonts/EB_Garamond/static/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/static/fonts/EB_Garamond/static/EBGaramond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gabarito';
  src: url('/static/fonts/Gabarito/static/Gabarito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
